body{
    background-color:#ADD8E6;
    font-family:Arial;
}

header{
    background-color:#FFFFFF;
    width:320px;
    margin:20px auto;
    padding:25px;
    border:2px solid #808080;
    text-align:center;
   
}

h1{
    color:#00008B;
    margin-bottom:5px;
}

header p{
    color:#000000;
}

nav{
    background-color:#FFFFFF;
    width:320px;
    margin:auto;
    padding:20px;
    border:2px solid #808080;
}

nav ul{
    list-style-type:none;
    padding:0;
    margin:0;
}

nav li{
    margin-bottom:10px;
}

nav a{
    text-decoration:none;
    color:#00008B;
    font-size:14px;
    font-weight:bold;
    display:block;
    padding:8px;
    border:1px solid #808080;
    background-color:#F5F5F5;
}

nav a:hover{
    background-color:#D3D3D3;
    color:#0000FF;
}

footer{
    background-color:#FFFFFF;
    width:320px;
    margin:20px auto;
    padding:12px;
    border:2px solid #808080;
    text-align:center;
    color:#000000;
}